* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
}
.wrapper {
	width: 1170px;
	margin: auto;
}
header {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://cdn.shopify.com/s/files/1/2246/7407/articles/maxresdefault_5b1de3c3-3dac-4226-aaac-fff3373c2b92_1000x.jpg?v=1581090451);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 5px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}
.logo {
	float: left;
}
.logo img {
	width: 10%;
	padding: 20px 0;
}
.contact {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.contact h1 {
	text-align: center;
	background-position-y: 25%;
	background-position-x: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 10px;
}
.contact h2 {
	color: #00fecb;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
}
.contact a {
	border: 1px solid #fff;
	background: black;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	text-align: left;
	margin-top: 10px;
	opacity: 80%;
	display: inline-block;
	color: #fff;}

.date 
	background: black;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	text-align: left;
	margin-top: 10px;
	opacity: 80%;
	display: grid;
	color: #fff;}
.report
	{
		border: 1px solid #fff;
		background: black;
	padding: 10px 25px;
		text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 10px;}

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	img {
		width: ;
	}
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.contact {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.contact h1 {
		font-size: 10px;
	}
	.contact h2{
		font-size: 30
	}
}
